**Question No.1**

**Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.**

**Examples**

* is_symmetrical(7227) ➞ True

* is_symmetrical(12567) ➞ False

* is_symmetrical(44444444) ➞ True

* is_symmetrical(9939) ➞ False

* is_symmetrical(1112111) ➞ True

In [1]:
def Is_symmentrical(n) :
    n2 = str(n)
    n3 = n2[::-1]
    n4 = int(n3) 
    if n == n4 :
        return True 
    else :
        return False

In [2]:
Is_symmentrical(7227)

True

In [3]:
Is_symmentrical(12567)

False



---

**Question No.2**

**Given a string of numbers separated by a comma and space, return the product of the numbers.**

**Examples**

* multiply_nums("2, 3") ➞ 6

* multiply_nums("1, 2, 3, 4") ➞ 24

* multiply_nums("54, 75, 453, 0") ➞ 0

* multiply_nums("10, -2") ➞ -20

In [4]:
def multiply_nums(*argv) :
    product = 1
    for i in argv :
        product = product * i
    return product

In [5]:
multiply_nums(1,3,4,5)

60

In [6]:
multiply_nums(10,-2)

-20



---

**Question No.3**

**Create a function that squares every digit of a number.**

**Examples**

* square_digits(9119) ➞ 811181

* square_digits(2483) ➞ 416649

* square_digits(3212) ➞ 9414

**Notes
The function receives an integer and must return an integer**

In [7]:
def Sqr_digit(n) :
    sqr = ""
    for i in str(n) :
        values = int(i) ** 2
        sqr = sqr + str(values)
        sqr2 = int(sqr)
    return sqr2

In [8]:
Sqr_digit(9119)

811181

In [9]:
Sqr_digit(2483)

416649



---

**Question No.4**

**Create a function that sorts a list and removes all duplicate items from it.**

**Examples**

* setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

* setify([4, 4, 4, 4]) ➞ [4]

* setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

* setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [10]:
def setify(n) :
    n1 = set(n)
    n2 = list(n1)
    n2.sort()
    return n2

In [11]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [12]:
setify([4, 4, 4, 4])

[4]

In [13]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]



---

**Question No.5**

**Create a function that returns the mean of all digits.**

**Examples**

* mean(42) ➞ 3

* mean(12345) ➞ 3

* mean(666) ➞ 6

**Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.**

In [23]:
def mean(n) :
    sum1 = 0 
    for i in str(n) :
        sum1 = sum1 + int(i)
    return sum1 / len(str(n))

In [24]:
mean(42)

3.0

In [25]:
mean(12345)

3.0

In [26]:
mean(666)

6.0



---